In [1]:
# Import our dependencies
import pandas as pd

In [2]:
#  Import and read CSV file
heart_df = pd.read_csv("Resource/framingham.csv")
heart_df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [7]:
#adding ID column for all rows
heart_df.insert(0, 'patientid', range(1, 1 + len(heart_df)))
heart_df.head()

,patientid,ID,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,1,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,2,2,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,3,3,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,4,4,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,5,5,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [10]:
#Creating Demo
demographics_df = heart_df[["patientid", "male", "age", "education", "currentSmoker", "cigsPerDay","BPMeds", "TenYearCHD"]].copy()
demographics_df.head()

   patientid  male  age  education  currentSmoker  cigsPerDay
0          1     1   39        4.0              0         0.0
1          2     0   46        2.0              0         0.0
2          3     1   48        1.0              1        20.0
3          4     0   61        3.0              1        30.0
4          5     0   46        3.0              1        23.0

In [11]:
#creating Measures
measures_df = heart_df[["patientid", "totChol","sysBP", "diaBP", "BMI", "heartRate", "glucose"]].copy()
measures_df.head()

   patientid  totChol  sysBP  diaBP    BMI  heartRate  glucose  TenYearCHD
0          1    195.0  106.0   70.0  26.97       80.0     77.0           0
1          2    250.0  121.0   81.0  28.73       95.0     76.0           0
2          3    245.0  127.5   80.0  25.34       75.0     70.0           0
3          4    225.0  150.0   95.0  28.58       65.0    103.0           1
4          5    285.0  130.0   84.0  23.10       85.0     85.0           0

In [13]:
#creating Comorbidites
comorbidites_df = heart_df[["prevalentStroke", "prevalentHyp", "diabetes"]].copy()
comorbidites_df.head()

   prevalentStroke  prevalentHyp  diabetes
0                0             0         0
1                0             0         0
2                0             0         0
3                0             1         0
4                0             0         0